<div class="flip-container">
		<div class="flipper">
			<div class="front">
				<!-- front content -->
				<div class="holder">
					<h1 class="heading">Webfolio</h1>	
					<form name="form" role="form" ng-submit="signin.submit()" novalidate>
						
						<input class="form-control" type="email" placeholder="email" name="email" ng-model="signin.user.email" required>	
						<form-messages field="email"></form-messages>				

						<input type="password" class="form-control" placeholder="password" name="password" ng-model="signin.user.password" requried>					<!-- 
						<div class="bottom_info">
							<a href="#" class="pull-right" data-toggle="modal" data-target="#forgot">forgot password?</a>
							<a href="signup2.html" class="pull-left">Register new account</a>
						</div>		 -->

						<div class="clearfix"></div>
						<button type="submit" class="btn btn-primary btn-block" >Entrar</button>					
						
					</form>
				</div>
			</div>			
		</div>		
	</div>
	
	<!-- Modal -->
	<div class="modal fade" id="forgot" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel"><i class="ion-android-settings"></i> Reset password</h4>
				</div>
				<div class="modal-body">
					<div class="col-sm-12">
						<input type="text" class="form-control" placeholder="Enter Email here">
						<h6 class="note"><i class="ion-android-mail"></i> password will be sent to your email</h6>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-red" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Send</button>
				</div>
			</div>
		</div>
	</div>