<ng-include src="'partials/page-header.html'"></ng-include>
<div class="main-content">

	<div class="row grid">
		
		<div class="col-md-12">
			<!-- *** Stripped Rows *** -->
			<!-- panel -->
			<div class="panel panel-piluku">
				<div class="panel-heading">
					<h3 class="panel-title">
						Universidades - Editar Universidade
						<span class="panel-options">
							<a href="#" class="panel-refresh">
								<button class="btn btn-default" ng-click="cancel()"> <span><i class="ion-android-arrow-back"></i> Voltar</span> </button>
							</a>
						</span>
					</h3>
				</div>
				<div style="display: block;" class="panel-body">
				
					<form name="form" class="form-horizontal" role="form" novalidate ng-submit="edit.submit()">

						<div class="row">
							<div class=" col-sm-10">


								<div class="form-group">

									<div class="col-sm-8">
										<label for="">Nome</label>
										<input 
										type="text" 
										class="form-control" 
										required placeholder="Nome" 
										name="name" 
										ng-model="edit.entity.name"
										ng-minlength="3"
										required
										>
										<form-messages field="name"></form-messages>
									</div>

									<div class="col-sm-4">
										<label for="">Sigla</label>
										<input 
										type="text" class="form-control" 
										required placeholder="Sigla" 
										name="acronym" 
										ng-model="edit.entity.acronym"
										required
										>
										<form-messages field="acronym"></form-messages>
									</div>

								</div>

							</div>
						</div>

						<div class="m-foot text-right">
							<button type="button" class="btn btn-default" ng-click="cancel()" >Cancelar</button>
							<button type="submit" class="btn btn-primary">Salvar</button>
						</div>

					</form>
				</div>
			</div>
			<!-- /panel -->
		</div>

	</div>

</div>
