<div class="page_header">
    <div class="pull-left">
        <i class="icon fa fa-{{header.icon}} page_header_icon"></i>
        <span class="main-text">{{header.title}}</span>
        <p class="text">
            {{header.description}}
        </p>
    </div>
    <!-- 
        <div class="right pull-right">
            <ul class="right_bar">
                <li class="list-unstyled"><i class="icon ion-checkmark text-primary"></i> &nbsp;Fadings</li>
            </ul>
        </div> 
    -->
</div>